{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb d-flex justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">About us</li>
                        </ul>
                    </nav>
                    <h1 class="heading">關於我們</h1>
                    <p class="lead text-center">三個為軟體工程課努力奮鬥的認真好學生,一天不唸軟體工程就渾身不對勁</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">團隊</h2>
                    <p class="lead text-center">一日高師,終生高師</p>
                </div>
            </div>
            <div class="row team">
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <div class="image"><img src="{% static 'admin/img/person-1.jpg'%}" alt="" class="img-fluid rounded-circle"></div>
                        <h3 class="h4"><a href="#">黃琮堯</a></h3>
                        <p class="role">Backend</p>
                        <div class="text">
                            <p> 負責程式設計,資料庫,伺服器架設</p>
                        </div>
                    </div>
                    <!-- /.team-member-->

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <div class="image"><img src="{% static 'admin/img/person-2.jpg'%}" alt="" class="img-fluid rounded-circle"></div>
                        <h3 class="h4"><a href="#">盧冠羽</a></h3>
                        <p class="role">Marcom</p>
                        <div class="text">
                            <p> 負責企劃,撰寫架構及使用者案例圖</p>
                        </div>
                    </div>
                    <!-- /.team-member-->

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <div class="image"><img src="{% static 'admin/img/person-3.jpg' %}" alt="" class="img-fluid rounded-circle"></div>
                        <h3 class="h4"><a href="#">黃彥翔</a></h3>
                        <p class="role">Marcom</p>
                        <div class="text">
                            <p> 負責企劃,撰寫架構及使用者案例圖</p>
                        </div>
                    </div>
                    <!-- /.team-member-->

                </div>
            </div>
        </div>
    </section>
{% endblock %}
