{% extends 'base.html' %}
{% block content %}
    <section class="job-form-section job-form-section--compressed">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">obs in Bay Area</li>
                </ul>
            </nav>
            <h4 class="heading">Find a <span class="accent">job </span> you will <span class="accent">love</span></h4>
            <form id="job-main-form" method="get" action="../category/" class="job-main-form">
                {% csrf_token %}
                <div class="controls">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="profession">專長</label>
                                <input type="text" id="profession" name="profession"
                                       placeholder="例如:資料庫、影像設計" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="location">區域</label>
                                <input type="text" id="location" name="location"
                                       placeholder="例如:燕巢區" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button id="searching" type="submit" name="submit"
                                    class="btn btn-outline-white-primary job-main-form__button"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="heading">我們找到了 <span class="accent">{{ count }}</span> 個相關工作</h3>
            {% for job in result %}
                {% if count == forloop.counter %}
                    <div class="job-listing job-listing--last">
                {% else %}
                    <div class="job-listing">
                {% endif %}
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="job__title"><a href="../detail/{{ job.id }}">{{ job.title }}</a></h4>
                            <p class="job__company">

                                {{ job.name }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-lg-3 ml-auto"><i
                        class="fa fa-map-marker job__location"></i>{{ job.location }}
                </div>
                <div class="col-10 col-md-3 col-lg-3 ml-auto">
                    <p>{{ job.pub_date }}</p>
                </div>
            </div>
            </div>
            {% endfor %}
    </section>
{% endblock %}


