{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb d-flex justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Contact</li>
                        </ul>
                    </nav>
                    <h1 class="heading">與我們聯繫</h1>
                    <p class="lead text-center">
                        此為高雄師範大學軟體工程與管理學系的期末專題,主要開發者是大三的黃琮堯同學,資源都以網路上的開源專案為主,若有任何侵權問題,請與開發者聯繫,一定盡快處理。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-simple">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <h3 class="mb-4">Address</h3>
                        <p>高雄師範大學燕巢校區</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-simple">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h3 class="mb-4">Call center</h3>
                        <p class="text-muted">這裡不公布電話</p>
                        <p><strong>+33 555 444 333</strong></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-simple">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3 class="mb-4">Electronic support</h3>
                        <p class="text-muted">有任何問題,歡迎來信告知</p>
                        <ul class="list-unstyled">
                            <li><strong><a href="mailto:">410577036@mail.nknu.edu.tw</a></strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}