{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <h1 class="heading">{{ job_detail.title }}<br>
                <small><a href="#"> {{ job_detail.name }}</a></small>
            </h1>
            <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>{{ job_detail.location }}
                <span class="badge featured-badge badge-success">Full Time</span>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>工作描述</h3>
                    <blockquote class="blockquote">
                        <p>{{ job_detail.description }}</p>
                    </blockquote>
                    <h4>詳細內容:</h4>
                    <ul>
                        <li>職務類別： {{ job_detail.title }}</li>
                        <li>工作待遇： {{ job_detail.pay }}</li>
                        <li>上班地點： {{ job_detail.location }}</li>
                        <li>上班時段： 日班</li>
                        <li>休假制度： 週休二日</li>
                    </ul>

                    <h5>條件要求:</h5>
                    <ul>
                        <li>學歷:{{ job_detail.education }}</li>
                        <li>經歷:{{ job_detail.experience }}年</li>
                    </ul>
                    <h4>福利:</h4>
                    <ol>
                        <li>{{ job_detail.bonus }}</li>
                    </ol>
                    <h5>關於{{ job_detail.name }}:</h5>
                    <blockquote class="blockquote">
                        <p>{{ job_detail.about_company }}</p>
                    </blockquote>

                    {% if username %}
                        <div class="job-detail__apply-bottom"><a href="#applyModal" data-toggle="modal" id="apply"
                                                                 class="btn btn-outline-white-primary">我要應徵</a>
                        </div>
                    {% endif %}
                </div>
                <div id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                     class="modal fade">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">快速應徵</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="../send/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">姓名</label>
                                        <input type="text" class="form-control" name="apply_name"
                                               value="{{ username }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">系級</label>
                                        <input type="text" class="form-control" name="apply_department"
                                               value="{{ department }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">email</label>
                                        <input type="text" class="form-control" name="apply_email"
                                               value="{{ email }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">履歷描述</label>
                                        <textarea class="form-control" name="apply_description"
                                                  rows="3"></textarea>
                                    </div>
                                    <input type="hidden" name="JobID" value="{{ jobID }}">
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-outline-white-primary"><i
                                        ></i> 送出
                                        </button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *** LOGIN MODAL END ***-->
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <h4>遊戲企劃</h4>
                    <p class="job-detail__company-description">協助遊戲開發團隊進行資料處理
                        簡單的美術BANNER製作</p>
                    <div class="job-detail__apply-top"><a href="#" class="btn btn-outline-white-primary">我有興趣</a></div>
                    <hr>
                    <h4>業務助理(日文)</h4>
                    <p class="job-detail__company-description">
                    <li>文書處理、相關文件彙整。</li>
                    <li>協助各式資料製作、會議同步口譯。</li>
                    <li>客戶電話接洽、會議安排與聯絡。</li>
                    <li>其他主管交辦事項。</li>
                    </p>
                    <div class="job-detail__apply-top"><a href="#" class="btn btn-outline-white-primary">我有興趣</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}