{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div><br></div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static img %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ username }}</h5>
                        <a href="#" class="btn btn-primary">更換大頭照</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">姓名</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="name"
                                   value="{{ username }}" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">系級</label>
                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name"
                                   value="{{ department }}" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustomUsername">登入學號</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                </div>
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       placeholder="" aria-describedby="inputGroupPrepend" value="{{ account }}"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">信箱</label>
                        <input type="email" value="{{ email }}" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email">

                    </div>

                    <div class="form-group">
                        <label for="comment">簡歷 <span class="required">*</span></label>
                        <textarea id="comment" rows="4" class="form-control">{{ description }}</textarea>
                    </div>

                    <button class="btn btn-primary" type="submit">更改</button>
                </form>

                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
            </div>
        </div>
    </div>
{% endblock %}
